<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Table category for Interior Designs</h4>


                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> Category name</th>
                          <th> Image </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for c in data %}
                        <tr>
                          <td> {{forloop.counter}} </td>
                          <td> {{c.CategoryName}} </td>
                          <td> <img src="{{c.CategoryImage.url}}" width="100px"> </td>

                          <td>
                            <a href="{% url 'edit_design_category' d_id=c.id %}"><button class="btn btn-outline-primary mr-3 ml-3">edit</button></a>
                            <a href="{% url 'delete_design_category' d_id=c.id %}"><button class="btn btn-outline-danger">delete</button></a>
                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}