<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Consultation details</h4>
            <!--            <p class="card-description"> Add class <code>.table-{color}</code>-->
            <!--            </p>-->
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th> #</th>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Mobile</th>
                    <th> Location</th>
                    <th> Design Id</th>
                    <th> Category</th>
                    <th> Design Name</th>
                    <th> Estimate</th>
                    <th> Dimension</th>
                    <th> Created at</th>
                    <th> Status</th>
                    <th> Action</th>

                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.mobile}}</td>
                    <td>{{d.location}}</td>
                    <td>{{d.design_id}}</td>
                    <td>{{d.design_category}}</td>
                    <td>{{d.design_name}}</td>
                    <td>{{d.design_estimate}}</td>
                    <td>{{d.design_dimension}}</td>
                    <td>{{d.created_at}}</td>
                    <td>
                        {{d.status}}
                         <!-- Dropdown for selecting status -->
<!--                            <form method="POST" action="">-->
<!--                                {% csrf_token %}-->
<!--                                <select name="status" class="form-control">-->
<!--                                    <option value="consult" {% if d.status == 'consult' %}selected{% endif %}>Consult</option>-->
<!--                                    <option value="booked" {% if d.status == 'booked' %}selected{% endif %}>Booked</option>-->
<!--                                    <option value="completed" {% if d.status == 'completed' %}selected{% endif %}>Completed</option>-->
<!--                                </select>-->
<!--                                <button type="submit" class="btn btn-outline-primary mt-2">Update Status</button>-->
<!--                            </form>-->
                    </td>
                    <td>
                        {% if d.status == 'consult' %}
                        <a href="{% url 'book_consult_status' c_id=d.id %}"><button class="btn btn-outline-info">book</button></a>
                        {% else %}
                        <a href="{% url 'work_progress' c_id=d.id %}"><button class="btn btn-outline-success">work progress</button></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}